.scoresContainer {
    background-color: #5cdb82;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin: 5px;
    overflow: hidden;
}

.scoresColumn {
    padding-left: 8px;
    padding-right: 8px;
}